<nav class="app-header navbar navbar-expand bg-body">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Start Navbar Links-->
    <ul class="navbar-nav">
     
      <li class="nav-item d-none d-md-block"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item d-none d-md-block"><a href="/upload/" class="nav-link">Upload Image</a></li>
      <li class="nav-item d-none d-md-block"><a href="/review/" class="nav-link">Review Image</a></li>
    </ul>
    <!--end::Start Navbar Links-->
  </div>
  <!--end::Container-->
</nav>